@import "tailwindcss";

@layer components {
    .default-border {
        border-width: 2px;
        border-color: white;
    }
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }